@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #020617;
    --white: #e5e5e5;
    --social-bg: rgba(255,255,255,0.08);
    --social-filter: blur(20px);
    --social-hover-bg: rgba(255,255,255,0.35);
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
    .stars { animation: none }
}

/* =================================== */
@keyframes moveStars {
    from { transform: translateY(0); }
    to { transform: translateY(50%); }
}
@keyframes twinkle  {
    from { opacity: .6; }
    to { opacity: 1; }
}

@keyframes blink {
    0% { opacity: .3;}
    50% { opacity: 1;}
    100% { opacity: .3;}
}
/* =================================== */

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--background);
}

.stars,
.stars::before,
.stars::after {
    content: '';
    position: fixed;
    inset: 0;
    background-repeat: repeat;
    pointer-events: none;
}

.stars {
    background-image:
    radial-gradient(1px 1px at 20% 30%, var(--white) 50%, transparent 51%),
    radial-gradient(1px 1px at 80% 70%, var(--white) 50%, transparent 51%),
    radial-gradient(1px 1px at 50% 50%, var(--white) 50%, transparent 51%);
    position: fixed;
    inset: -100% 0 0 0;
    background-size: 200px 200px;
    opacity: .6;
    animation: moveStars 60s linear infinite;
    pointer-events: none;
    will-change: transform;
}

.stars::before {
    background-image:
    radial-gradient(1.5px 1.5px at 10% 20%, var(--white) 50%, transparent 51%),
    radial-gradient(1.5px 1.5px at 90% 80%, var(--white) 50%, transparent 51%);
    background-size: 300px 300px;
    opacity: .8;
    animation: moveStars 90s linear infinite reverse;
}

.stars::after {
    background-image:
    radial-gradient(2px 2px at 30% 40%, var(--white) 50%, transparent 51%),
    radial-gradient(2px 2px at 70% 60%, var(--white) 50%, transparent 51%);
    background-size: 400px 400px;
    opacity: 1;
    animation: moveStars 120s linear infinite, twinkle 4s ease-in-out infinite alternate;
}

.freitas::after {
    content: '';
    display: block;
    background: var(--white);
    height: 2px;
    width: 15%;
    position: absolute;
    bottom: 0;
    right: -15px;
    animation: blink 1500ms ease-in-out infinite;
}

.box-social span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(50%);
}

.social {
    background: var(--social-bg);
    backdrop-filter: var(--social-filter);
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.tooltip {
    position: absolute;
    background: #000;
    color: var(--white);
    padding: 4px 8px;
    font-size: 12px;
    width: 15%;
    border-radius: 10px;
    pointer-events: none;
}

@media (max-width: 768px) {
    .tooltip {
       display: none;
    }
}